//javascript comments work here
//which should be helpful

//variables 
//starts with a $
//$variable-name:value;

$base-font: 16px;
$header-font-size: 3rem; //300%
$sub-header-font-size: 1.5rem; //150%
$em-header-font-size: .75rem; //75%
$p-font: 1rem; //100%
$sans-font: 'Arial', sans-serif;
$bretts-fave-color: navy;
$arnold-fave-color: magenta;
$rand: rgb(38,36,121); 

//build a basic style guide

body {
	font-size: $base-font; 
	color: $rand;
	
}

h1 {
	font-size: $header-font-size;
	font-family: $sans-font;
	color: $bretts-fave-color;
	

}

h2 {
	font-size: $sub-header-font-size;
	font-family: $sans-font;
	color: $arnold-fave-color;


}

p {
	font-size: $p-font;
	font-family: $sans-font;

}

h3 {
	font-family: $sans-font;
	font-size: $em-header-font-size
	
}
