html {
width: 100%;
height: 100%;
clip: auto;
position: absolute;
overflow: hidden;
}

.paradise {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
-webkit-animation: fallingSucculents 20s infinite linear;
-moz-animation: fallingSucculents 20s infinite linear;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}


#background2 {
  position: absolute;
  width:1450px;
  height:900px;
}

.title {
  width: 70%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.game-container {
  width: 700px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  float: left;
  background-color: white;
  opacity: .90; 
}

.instructions {
  position: absolute;
  top: 30%;
  width: 550px;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: gray; 
  padding: 30px;
  left: 28%;
  opacity: .90;
}

.results {
  position: absolute;
  top: 30%;
  width: 600px;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
  padding: 30px;
  left: 25%;
}

.gameover {
  position: absolute;
  top: 30%;
  width: 600px;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
  padding: 30px;
  left: 25%;
}



.start-game {
  position: relative; 
}

.scoreboard {
  float: right;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 250px;
  background-color: white;
  opacity: .90; 
}

h1 {
  text-align: center; 
}

h2 {
  font-size: 3rem;
  text-align: center; 
}

p {
  text-align: center; 
}


@-webkit-keyframes fallingSucculents {
0% {
opacity: 1;
-webkit-transform: translate(0, 0px) rotateZ(0deg);
}
75% {
opacity: 1;
-webkit-transform: translate(100px, 600px) rotateZ(360deg);
}
100% {
opacity: 0;
-webkit-transform: translate(150px, 630px) rotateZ(360deg);
}
}




@media (max-width: 480px) {
  .game-container {
  width: 500px;
  height: 550px;
  position: relative;
  overflow: hidden;
  float: left;
  background-color: white;
  opacity: .75; 
  right: 8%;
  top: -650px;

  } 

.scoreboard {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 100px;
  background-color: white;
  top: -100px;
  right:80%;
/*  visibility: hidden; */
}
.paradise {
  width: 75px;
  height: 75px;
  position: absolute;
  cursor: pointer;
-webkit-animation: fallingSucculents 20s infinite linear;
-moz-animation: fallingSucculents 20s infinite linear;
}

.instructions {
  top: 20px;
  right:8%;
  left:8%;
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: gray; 
  opacity: .90;
}

.results {
  top: 20px;
  right:8%;
  left:8%;
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
}

.gameover {
  top: 20px;
  right:8%;
  left:8%;
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
}


.title {
  width: 70%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  visibility: hidden; 
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;

 
}
}
