@-ms-viewport{
  width: device-width;
}


h1 {
  text-align: center; 
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-size: 4rem;
  text-align: center; 
  font-family: 'Cormorant Garamond', serif;

}

p {
  text-align: center; 
  font-family: 'Cormorant Garamond', serif;
}

html {
width: 100%;
height: 100%;
clip: auto;
position: absolute;
overflow: hidden;
}

.paradise {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
-webkit-animation: fallingSucculents 20s infinite linear;
-moz-animation: fallingSucculents 20s infinite linear;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}


#background2 {
  position: absolute;
  width:1438px;
  height:1063px;
/*  width: 100%;
height: 100%;*/


}





.title {
  width: 70%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.game-container {
  width: 700px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  float: left;
  background-color: white;
  opacity: .90; 
}

.instructions {
  position: absolute;
  top: 30%;
  width: 525px;
  height: 255px;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: white; 
  padding: 30px;
  left: 29%;
  opacity: .90;
}

#instructionsBorder {
  position: absolute;
  top: 30%;
  width: 555px;
  height: 285px;
  background: clear;
  text-align: center;
  border-style: solid;
  border-color: white; 
  padding: 30px;
  left:28%;
  top:28%;
  opacity: 1;
}

.results {
  position: absolute;
  top: 30%;
  width: 600px;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
  padding: 30px;
  left: 25%;
}

.gameover {
  position: absolute;
  top: 30%;
  width: 600px;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: gray; 
  padding: 30px;
  left: 25%;
  opacity: .90;
}



.start-game {
  position: relative; 
}

.scoreboard {
  float: right;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 250px;
  background-color: white;
  opacity: .90; 
  font-size: 2rem;
}






@-webkit-keyframes fallingSucculents {
0% {
opacity: 1;
-webkit-transform: translate(0, 0px) rotateZ(0deg);
}
75% {
opacity: 1;
-webkit-transform: translate(100px, 600px) rotateZ(360deg);
}
100% {
opacity: 0;
-webkit-transform: translate(150px, 630px) rotateZ(360deg);
}

}



@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 0.9s;
-moz-animation-delay: 0.9s;
animation-delay: 0.9s;
}


.box{
width: 251px;
height: 150px;
position: relative;
color: white;
/*padding: 40px;  */
/*border: 1px solid #fff;*/
background: #895075;
/*border-radius: 10px;*/
display: block;
margin-left: auto;
margin-right: auto;
text-align:center;
font-size: 3rem;
}


@media (max-width: 480px) {
  .game-container {
  width: 400px;
  height: 550px;
  position: relative;
  overflow: hidden;
  float: left;
  background-color: white;
  opacity: .75; 
  right: 8%;
  top: -650px;

  } 




.box{
width: 100px;
height: 100px;
position: relative;
color: white;
/*padding: 40px;  */
/*border: 1px solid #fff;*/
background: #895075;
/*border-radius: 10px;*/
display: block;
margin-left: auto;
margin-right: auto;
text-align:center;
font-size: 3rem;
}

.scoreboard {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 100px;
  background-color: white;
  top: -100px;
  right:80%;


}
.paradise {
  width: 75px;
  height: 75px;
  position: absolute;
  cursor: pointer;
-webkit-animation: fallingSucculents 20s infinite linear;
-moz-animation: fallingSucculents 20s infinite linear;
}

.instructions {
  top: 20px;
  right:8%;
  left:8%;
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: white; 
  opacity: .90;
}

.results {
  top: 20px;
  right:8%;
  left:8%;
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
}

.gameover {
  top: 20px;
  right:8%;
  left:8%;
  width: auto;
  height: auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-color: black; 
}


.title {
  width: 70%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  visibility: hidden; 
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;


 
}

#instructionsBorder {
  position: absolute;
  top: 30%;
  width: 555px;
  height: 285px;
  background: clear;
  text-align: center;
  border-style: solid;
  border-color: white; 
  padding: 30px;
  left:28%;
  top:28%;
  opacity: 1;
  visibility: hidden;
}

}
