<html ng-app="renaBankaPortfolio">
<head>
  <title>Rena Banka | Product Visionary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/skeleton.css'/>
  <link rel='stylesheet' href='/stylesheets/normalize.css'/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
</head>

<body>


<nav class="nav">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Development</a></li>
    <li><a href="/design">Design</a></li>
    <li><a href="/process">Process</a></li>

  </ul>
</nav>




<div ng-view>



</div>


<script src="/javascripts/app.js"></script>
<script src="/javascripts/app.AboutCtrl.js"></script>
<script src="/javascripts/app.ContactCtrl.js"></script>
<script src="/javascripts/app.DesignCtrl.js"></script>
<script src="/javascripts/app.HomeCtrl.js"></script>
<script src="/javascripts/app.PhotographyCtrl.js"></script>
<script src="/javascripts/app.TechnologyCtrl.js"></script>

</body>

</html>

